main#zhongwen {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10em;
  background: white;
  .chunk {
    border-bottom: 0.5px dotted black;
  }
  @media (min-width: 1000px) {
    background: var(--background-color);
    margin-top: 1em;
    .chunk {
      background: white;
      border-radius: var(--medium-radius);
      padding-inline: 2em;
      margin: 0.2em;
    }
  }

  .search {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    input {
      height: 36px;
    }
  }
  #label-edit-box {
    align-self: flex-end;
  }
  .label-edit {
    font-size: 1.5em;
    text-align: right;
    border: none;
    background: inherit;
    color: var(--accent-color);
    width: min(30ch, calc(100vw - 10em));
    &:hover {
      background: var(--background-color-darker);
      background: linear-gradient(
        90deg,
        transparent 0%,
        transparent 30%,
        var(--background-color-darker) 70%,
        var(--background-color-darker) 100%
      );
      cursor: pointer;
    }
  }

  .sssdsv {
    display: block !important;
    columns: 1;
    @media (min-width: 600px) {
      columns: 2;
    }
    @media (min-width: 1000px) {
      columns: 3;
    }
    a {
      color: var(--primary-color-lighter);
    }
    .isValidateGrammar {
      a {
        color: var(--accent-color);
        position: relative;
        &:before {
          content: "🧙‍♀️ ";
        }
        &:hover::after {
          content: '女巫说:\A"请检查语法"';
          white-space: pre;
          position: absolute;
          top: 2em;
          left: 0;
          width: 10em;
          aspect-ratio: 1/1;
          border-radius: 6em;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--accent-color);
          color: var(--on-primary-color);
          z-index: 2;
        }
      }
    }
    .isFocusedLearning {
      a {
        color: var(--primary-color-darker);
        position: relative;
        &:before {
          content: "📌 ";
        }
        &:hover::after {
          content: '女巫说:\A"请检查语法"';
          white-space: pre;
          position: absolute;
          top: 2em;
          left: 0;
          width: 10em;
          aspect-ratio: 1/1;
          border-radius: 6em;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--accent-color);
          color: var(--on-primary-color);
          z-index: 2;
        }
      }
    }
    .complexity {
      font-weight: 100;
      opacity: 0.6;
      &::before {
        content: "x";
      }
    }
  }

  .sdjhh {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1em;
    & > p {
      display: flex;
      align-items: flex-start;
      gap: 1em;
      & > span {
        font-weight: 600;
      }
    }
    button.sparkle {
      background: inherit;
      border: none;
      outline: none;
      margin: 1em;
      display: block;
      width: 100%;
      text-align: right;
    }
    .part {
      display: contents;
      .char {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding-block: 1.1em;
        align-content: end;
        .pinyin {
          opacity: 0.4;
          font-size: 0.3em;
          height: 2em;
          pointer-events: none;
          user-select: none;
          /* transition: all 0.1s ease-in-out; */
          &:empty::before {
            content: "-";
            opacity: 0;
          }
        }
        &:focus,
        &:hover {
          .pinyin {
            background: white;
            opacity: 1;
            scale: 3;
          }
        }
        &:focus {
          background: linear-gradient(
            180deg,
            var(--primary-color) 0%,
            var(--primary-color) 4%,
            transparent 7%,
            transparent 93%,
            var(--primary-color) 96%,
            var(--primary-color) 100%
          );
        }
        &:hover {
          background: linear-gradient(
            180deg,
            var(--accent-color) 0%,
            var(--accent-color) 4%,
            transparent 7%,
            transparent 93%,
            var(--accent-color) 96%,
            var(--accent-color) 100%
          );
        }
        .tone {
          opacity: 0.6;
          user-select: none;
          pointer-events: none;
          .ask {
            filter: hue-rotate(0deg);
          }
          .sing {
            filter: hue-rotate(10deg);
          }
          .state {
            filter: hue-rotate(20deg);
          }
          .wiggle {
            filter: hue-rotate(30deg);
          }
        }
        .kanji {
          font-size: 1.4em;
          font-family: var(--chinese-font-source);
          @media (max-width: 800px) {
            font-size: 1.5em;
          }
        }
      }
      .full-stop {
        margin-inline-end: 0.5em;
      }
    }
  }

  label {
    display: inline-flex;
    gap: 0.5em;
    input {
      accent-color: var(--accent-color);
      color: white;
    }
  }

  .persona-modal {
    border: none;
    height: 100dvh;
    max-height: 100%;
    max-width: 103%;
    outline: none;
    padding: 0 2em;
    transform: translate(0%, calc(100vh - 12em));
    width: 103vw;
    .close-button {
      display: none;
    }
    &::backdrop {
      background: var(--background-color);
      opacity: 0.5;
    }
  }

  .selected {
    rotate: 3deg;
    background: var(--background-color-darker);
    box-shadow: var(--card-shadow-up);
    padding-top: 0.2em;
    padding-bottom: 5em;
    text-align: center;
    p:empty::after {
      filter: hue-rotate(200deg);
      content: "❌";
    }
    .tone {
      display: flex;
      justify-content: center;
    }
    .alternative {
      display: flex;
      justify-content: center;
      gap: 2ch;
      span {
        background: var(--background-color);
        border-radius: 0.3em;
        padding-inline: 0.4em;
      }
    }
  }

  .phrase {
    display: flex;
    font-size: 0.9em;
  }
  button.add,
  button.duplicate,
  button.minus,
  button.shift,
  button.insert,
  button.witch,
  button.pin {
    height: 1.5lh;
    border: 1px solid var(--on-primary-color);
    border-radius: var(--medium-radius);
    background: var(--primary-color);
    color: var(--on-primary-color);
    font-size: 1rem;
    padding-inline: 0.5em;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    l &:hover {
      box-shadow: inset 0 0 0 2px var(--primary-color),
        inset 0 0 0 4px var(--on-primary-color);
    }
  }
  button.shift,
  button.insert {
    max-width: 9ch;
    align-self: center;
    &.isActive {
      background: var(--accent-color);
    }
  }
  button.duplicate {
    margin-left: 1em;
    padding-inline: 1em;
  }
  button.minus,
  button.duplicate {
    padding-inline: 1em;
    background: var(--accent-color);
  }
  button.pin,
  button.witch {
    margin-left: 1em;
    padding-inline: 1em;
    background: var(--primary-color);
    position: relative;
    &:hover::after {
      content: '女巫说:\A"检查完毕！"';
      white-space: pre;
      position: absolute;
      top: 2em;
      left: 0;
      width: 10em;
      aspect-ratio: 1/1;
      border-radius: 6em;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--primary-color);
      color: var(--on-primary-color);
      z-index: 2;
    }
    &.isValidateGrammar {
      background: var(--accent-color);
      &:hover::after {
        content: '女巫说:\A"请检查语法"';
        background: var(--accent-color);
      }
    }
  }

  button.pin {
    &:hover::after {
      content: '📌说:\A"无聊的"';
    }
    &.isFocusedLearning {
      background: var(--accent-color);
      &:hover::after {
        content: '📌说:\A"重点"';
      }
    }
  }
  .column {
    text-align: center;
    font-size: 1.5em;
    width: 4ch;
    &.width-2 {
      width: 6ch;
    }
    &.width-3 {
      width: 8ch;
    }
    &.width-4 {
      width: 10ch;
    }
    &.width-5 {
      width: 12ch;
    }
    &.width-6 {
      width: 14ch;
    }
    &.width-7 {
      width: 16ch;
    }
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    textarea {
      resize: none;
      outline: none;
      border: none;
      text-align: center;
      height: 15lh;
      --c: rgb(233, 232, 170);
      background: repeating-linear-gradient(
        180deg,
        var(--c),
        var(--c) 1.45em,
        currentColor 1.5em
      );
    }
    &.constant {
      textarea {
        color: rgb(132, 86, 0);
        font-weight: 300;
      }
    }
    .label {
      font-size: 0.4em;
    }
    .init {
      background: rgb(233, 170, 170);
    }
    .random {
      background: rgb(233, 211, 170);
      user-select: none;
    }
    .count {
      font-size: 0.5em;
      &::before {
        content: "x ";
      }
    }
    div.options {
      background: rgb(233, 232, 170);
    }
    select {
      font-size: 1rem;
    }
    .suggested {
      user-select: none;
    }
  }
}

.phrase-s {
  display: contents;
}

#pin {
  .pin-kanji {
    font-size: 1.5em;
    width: 14ch;
  }
  .pin-k {
    text-align: right;
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  input {
    font-size: 1.4em;
    text-align: center;
  }
  h2 {
    display: flex;
    gap: 0.4em;
    align-items: center;
    span {
      font-size: 0.5em;
      font-weight: 100;
    }
  }
  .ddfdx {
    display: flex;
    flex-wrap: wrap;
    span {
      padding: 0 0.5em;
      border-radius: 3em;
      aspect-ratio: 1/1;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: scroll;
      text-overflow: ellipsis;
      &:hover {
        background: var(--accent-color);
        box-shadow: 0 0 15px 15px var(--background-color);
        color: white;
        z-index: 1;
      }
    }
  }
}

.dangerous-kanji-warning {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 1em;
  aspect-ratio: 1/1;
  display: flex;
  align-items: end;
  background: linear-gradient(
    160deg,
    transparent 70%,
    var(--accent-color) 100%
  );

  div {
    background: var(--background-color);
    border-radius: 1em 0 0 1em;
    padding-left: 0.5em;

    &:not(:empty)::before {
      content: "😵 ";
    }
    span:not(:last-of-type)::after {
      content: "|";
    }
  }
}
