/*
 * MARK: b-a
 */
a.basic-a {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;

  &[data-active] {
    cursor: default;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
  }
}

/*
 * MARK: b-button
 */
button.basic-button {
  background: inherit;
  border: none;
  box-shadow: 0px 0px 0px 1px var(--primary-color);
  border-radius: 8px;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: inherit;
  outline: none;
  padding: 0.2em 1em;
  margin: 2px;
  transition: all 0.1s ease-out;
  white-space: nowrap;
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 0px 0px 3px var(--primary-color);
    background: var(--primary-color);
    color: var(--background-color);
  }
  &:disabled {
    box-shadow: none;
    background: rgb(128, 128, 128);
    color: var(--background-color);
  }
  &[data-variant="primary"] {
    background: var(--primary-color);
    color: var(--background-color);
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 0px 0px 2px var(--background-color),
        0px 0px 0px 3px var(--primary-color),
        0px 0px 0px 6px var(--background-color),
        0px 0px 0px 7px var(--primary-color);
    }
    &:disabled {
      box-shadow: none;
      background: rgb(128, 128, 128);
      color: var(--background-color);
    }
  }
  &[data-variant="look-like-a-link"] {
    box-shadow: none;
    display: inline-block;
    background: unset;
    border: none;
    text-decoration: underline;
    padding: 0;
    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      color: currentColor;
    }
  }
}
/*
 * MARK: b-select
 */
.basic-select {
  button.entrypoint {
    background: inherit;
    border: none;
    box-shadow: 0px 0px 0px 1px var(--primary-color);
    border-radius: 8px;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: inherit;
    outline: none;
    padding: 0.2em 2em 0.2em 1em;
    &::after {
      content: "";
      position: relative;
      display: inline-block;
      margin: 0;
      top: 0.5em;
      left: 1em;
      border: 0.5em solid transparent;
      border-top-color: var(--primary-color);
      opacity: 0.8;
    }
    margin: 2px;
    transition: all 0.1s ease-out;
    white-space: nowrap;
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 0px 0px 3px var(--primary-color);
      background: var(--primary-color);
      color: var(--background-color);
      &::after {
        border-top-color: var(--background-color);
      }
    }
    &.internal::after {
      rotate: 180deg;
      top: 0;
    }
  }
  .options {
    display: grid;
    grid-template-columns: repeat(var(--basic-select-columns, 1), 1fr);
    list-style-type: none;
    padding: 0px;
    margin-top: 0.2em;
    gap: 0.5em;
    max-height: 70dvh;
    overflow: scroll;
    box-shadow: 0px 0px 0px 1px var(--primary-color),
      0px 0px 50px 10px var(--background-color),
      0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
    button {
      background: unset;
      border-radius: 8px;
      color: currentColor;
      border: none;
      text-align: start;
      padding: 0.5em 1em;
      min-width: 18%;
      text-align: center;
      &:hover {
        background: var(--primary-color);
        color: var(--background-color);
      }
      &.selected {
        background: var(--background-color);
        &:hover {
          background: var(--primary-color);
          color: var(--background-color);
        }
      }
    }
  }

  dialog {
    top: 150%;
    opacity: 0.4;
    box-shadow: 0px 0px 50px 10px var(--background-color),
      0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
    &[open] {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      left: 50%;
      overflow-x: hidden;
      padding: 3em 1em;
      position: fixed;
      width: 100vw;
      height: 100dvh;
      max-width: 100%;
      max-height: 100%;
      margin-top: 2em;
      transform: translate(-50%, -50%);
      border: none;
      transition: all 0.4s ease-in;
      &:hover,
      &:focus-within {
        top: 50%;
        opacity: 1;
      }
    }

    &::backdrop {
      background: var(--background-color);
      opacity: 0.5;
    }

    & > section {
      width: 100%;
    }

    .close-button {
      translate: 1em -3em !important;
    }
  }
}
/*
 * MARK: b-modal
 */
dialog.basic-modal {
  top: 150%;
  opacity: 0.4;
  box-shadow: 0px 0px 50px 10px var(--primary-color),
    0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  &[open] {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    left: 50%;
    overflow-x: hidden;
    padding: 3em;
    position: fixed;
    transform: translate(-50%, -50%);
    width: max(50%, 600px);
    border: none;
    @media (max-width: 600px) {
      width: 100vw;
      height: 100dvh;
      max-width: 100%;
      max-height: 100%;
      margin-top: 2em;
    }
    transition: all 0.4s ease-in;
    &:hover,
    &:focus-within {
      top: 50%;
      opacity: 1;
    }
  }

  &::backdrop {
    background: var(--background-color);
    opacity: 0.5;
  }

  & > section {
    width: 100%;
  }

  .close-button {
    box-shadow: none;
    position: absolute;
    translate: 3em -3em;
    padding: 0.5em;
    width: 3em;
    height: 3em;
    background: unset;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
    &:focus,
    &:hover {
      rotate: 10deg;
      color: var(--primary-color);
      outline: none;
    }
  }
}

/*
 * MARK: b-pill
 */
.basic-pill {
  background: black;
  color: white;
  border-radius: 2em;
  width: fit-content;
  text-align: center;
  font-size: 60%;
  margin: 0.5em;
  padding: 0.3em 3em;
  white-space: nowrap;
  &[data-variant="success"] {
    background: green;
  }
  &[data-variant="to-shop"] {
    background: var(--primary-color-darker);
    color: var(--on-primary-color);
  }
  &[data-variant="subtle"] {
    background: var(--background-color);
    color: black;
  }
}

/*
 * MARK: b-slider
 */
.basic-slider {
  --time: 1s;
  --slide-distance: 3rem;
  --radius: 4px;
  align-items: center;
  background: #eee;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  display: grid;
  grid-template-columns: var(--slide-distance) 1fr var(--slide-distance);
  overflow: hidden;
  transition: all var(--time) linear;
  width: 100%;
  span.before,
  span.after {
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    color: var(--primary-color);
    white-space: nowrap;
    margin-inline: 0.5em;
    transition: all var(--time) linear;
    &:empty {
      opacity: 0;
    }
  }
  span.label {
    background: hsl(250 20% 40%);
    border-radius: 0 var(--radius) var(--radius) 0;
    color: white;
    font-size: 1em;
    padding-block: 0.5em;
    text-align: center;
    transition: all var(--time) linear;
    translate: calc(-1 * var(--slide-distance));
  }
  span.before {
    opacity: 0;
    translate: calc(-1 * var(--slide-distance));
  }
  span.after {
    opacity: 1;
  }
  &.isSelected {
    span.after {
      opacity: 0;
      translate: var(--slide-distance);
    }
    span.before {
      opacity: 1;
      translate: 0;
    }
    span.label {
      background: var(--primary-color);
      border-radius: var(--radius) 0 0 var(--radius);
      translate: var(--slide-distance);
    }
  }
  &.isProcessing {
    span.label {
      background: grey;
      border-radius: var(--radius);
      translate: 0;
    }
  }
}
