:root {
  --foreground-hsl: 250 50% 40%;
  --background-hsl: 100 20% 95%;
}

body:has(dialog[open]) {
  overflow: hidden;
  height: 1px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-hsl: 100 50% 95%;
    --background-hsl: 250 50% 40%;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html,
body {
  align-items: center;
  background: hsl(var(--background-hsl));
  color: hsl(var(--foreground-hsl));
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100dvh;
  overflow-x: hidden;
  width: 100%;
}

main {
  padding-inline: calc(10vw - 30px);
}

p {
  padding-block: 0.2em;
}

/*
 * MARK: b-a
 */
a.basic-a {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;

  &[data-active] {
    cursor: default;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
  }
}

/*
 * MARK: b-button
 */
button.basic-button {
  background: inherit;
  border: none;
  box-shadow: 0px 0px 0px 1px hsl(var(--foreground-hsl));
  border-radius: 8px;
  color: hsl(var(--foreground-hsl));
  cursor: pointer;
  font-weight: inherit;
  outline: none;
  padding: 0.2em 1em;
  margin: 2px;
  transition: all 0.1s ease-out;
  white-space: nowrap;
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 0px 0px 3px hsl(var(--foreground-hsl));
    background: hsl(var(--foreground-hsl));
    color: hsl(var(--background-hsl));
  }
  &:disabled {
    box-shadow: none;
    background: rgb(128, 128, 128);
    color: hsl(var(--background-hsl));
  }
  &[data-variant="primary"] {
    background: hsl(var(--foreground-hsl));
    color: hsl(var(--background-hsl));
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 0px 0px 2px hsl(var(--background-hsl)),
        0px 0px 0px 3px hsl(var(--foreground-hsl)),
        0px 0px 0px 6px hsl(var(--background-hsl)),
        0px 0px 0px 7px hsl(var(--foreground-hsl));
    }
    &:disabled {
      box-shadow: none;
      background: rgb(128, 128, 128);
      color: hsl(var(--background-hsl));
    }
  }
  &[data-variant="look-like-a-link"] {
    box-shadow: none;
    display: inline-block;
    background: unset;
    border: none;
    text-decoration: underline;
    padding: 0;
    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      color: currentColor;
    }
  }
}
/*
 * MARK: b-select
 */
.basic-select {
  button.entrypoint {
    background: inherit;
    border: none;
    box-shadow: 0px 0px 0px 1px hsl(var(--foreground-hsl));
    border-radius: 8px;
    color: hsl(var(--foreground-hsl));
    cursor: pointer;
    font-weight: inherit;
    outline: none;
    padding: 0.2em 2em 0.2em 1em;
    &::after {
      content: "";
      position: relative;
      display: inline-block;
      margin: 0;
      top: 0.5em;
      left: 1em;
      border: 0.5em solid transparent;
      border-top-color: hsl(var(--foreground-hsl));
      opacity: 0.8;
    }
    margin: 2px;
    transition: all 0.1s ease-out;
    white-space: nowrap;
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 0px 0px 3px hsl(var(--foreground-hsl));
      background: hsl(var(--foreground-hsl));
      color: hsl(var(--background-hsl));
      &::after {
        border-top-color: hsl(var(--background-hsl));
      }
    }
    &.internal::after {
      rotate: 180deg;
      top: 0;
    }
  }
  .options {
    display: grid;
    grid-template-columns: repeat(var(--basic-select-columns, 1), 1fr);
    list-style-type: none;
    padding: 0px;
    margin-top: 0.2em;
    gap: 0.5em;
    max-height: 70dvh;
    overflow: scroll;
    box-shadow: 0px 0px 0px 1px hsl(var(--foreground-hsl)),
      0px 0px 50px 10px hsl(var(--background-hsl)),
      0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
    button {
      background: unset;
      border-radius: 8px;
      color: currentColor;
      border: none;
      text-align: start;
      padding: 0.5em 1em;
      min-width: 18%;
      text-align: center;
      &:hover {
        background: hsl(var(--foreground-hsl));
        color: hsl(var(--background-hsl));
      }
      &.selected {
        background: hsl(var(--background-hsl));
        &:hover {
          background: hsl(var(--foreground-hsl));
          color: hsl(var(--background-hsl));
        }
      }
    }
  }

  dialog {
    top: 150%;
    opacity: 0.4;
    box-shadow: 0px 0px 50px 10px hsl(var(--background-hsl)),
      0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
    &[open] {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      left: 50%;
      overflow-x: hidden;
      padding: 3em 1em;
      position: fixed;
      width: 100vw;
      height: 100dvh;
      max-width: 100%;
      max-height: 100%;
      margin-top: 2em;
      transform: translate(-50%, -50%);
      border: none;
      transition: all 0.4s ease-in;
      &:hover,
      &:focus-within {
        top: 50%;
        opacity: 1;
      }
    }

    &::backdrop {
      background: hsl(var(--background-hsl));
      opacity: 0.5;
    }

    & > section {
      width: 100%;
    }

    .close-button {
      translate: 1em -3em !important;
    }
  }
}
/*
 * MARK: b-modal
 */
dialog.basic-modal {
  top: 150%;
  opacity: 0.4;
  box-shadow: 0px 0px 50px 10px hsl(var(--background-hsl)),
    0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  &[open] {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    left: 50%;
    overflow-x: hidden;
    padding: 3em;
    position: fixed;
    transform: translate(-50%, -50%);
    width: max(50%, 600px);
    border: none;
    @media (max-width: 600px) {
      width: 100vw;
      height: 100dvh;
      max-width: 100%;
      max-height: 100%;
      margin-top: 2em;
    }
    transition: all 0.4s ease-in;
    &:hover,
    &:focus-within {
      top: 50%;
      opacity: 1;
    }
  }

  &::backdrop {
    background: hsl(var(--background-hsl));
    opacity: 0.5;
  }

  & > section {
    width: 100%;
  }

  .close-button {
    box-shadow: none;
    position: absolute;
    translate: 3em -3em;
    padding: 0.5em;
    width: 3em;
    height: 3em;
    background: unset;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
    &:focus,
    &:hover {
      rotate: 10deg;
      color: hsl(var(--foreground-hsl));
      outline: none;
    }
  }
}

/*
 * MARK: b-pill
 */
.basic-pill {
  background: currentColor;
  border-radius: 2em;
  width: fit-content;
  text-align: center;
  span {
    color: white;
  }
  font-size: 60%;
  margin: 0.5em;
  padding: 0.3em 3em;
  white-space: nowrap;
  /* @media (prefers-color-scheme: dark) {
    span {
      color: black;
    }
  } */
  &[data-variant="success"] {
    color: green;
  }
  &[data-variant="subtle"] {
    color: hsl(var(--background-hsl));
    span {
      color: black;
    }
    /* @media (prefers-color-scheme: dark) {
      span {
        color: white;
      }
    } */
  }
}

/*
 * MARK: App-header
 */
#app-header {
  align-items: flex-start;
  background: hsl(var(--foreground-hsl));
  color: hsl(var(--background-hsl));
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
  align-items: center;

  .links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    max-width: 30em;
  }
}

#new-cadence-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*
 * MARK: EditModal
 */
#edit-modal {
  min-height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .flex {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.4em;
    @media (orientation: portrait) {
      flex-wrap: wrap;
    }
  }
  .title-input {
    color: hsl(var(--foreground-hsl));
    flex-grow: 1;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.5em 1em;
  }
  .cadence-input {
    flex-basis: 0;
    font-size: 1.1em;
    padding: 0.5em 1em;
  }

  #final-buttons {
    display: flex;
    gap: 0.3em;
    justify-content: flex-end;
    @media (orientation: portrait) {
      flex-direction: column;
    }
  }
}

/*
 * MARK: Cards
 */
#cadence-cards {
  & > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  h1 {
    opacity: 0.8;
    text-align: center;
  }
  .no-tasks {
    font-weight: 100;
    font-style: italic;
    opacity: 0.5;
  }
  .card {
    align-items: center;
    background: white;

    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    /* @media (prefers-color-scheme: dark) {
      background: #222;
      box-shadow: 0px 0px 0px 1px hsl(var(--foreground-hsl));
    } */
    border-radius: 8px;
    cursor: pointer;
    display: grid;
    gap: 0 2.5em;
    grid-template-areas:
      "title title title . buttons"
      "due every . recent buttons";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr;
    justify-content: space-between;
    padding: 1em;
    transition: all 0.1s ease-out;
    &.isPending {
      background: lightgreen;
    }
    h2 {
      grid-area: title;
    }
    .due {
      grid-area: due;
    }
    .every {
      grid-area: every;
    }
    .recently-complete {
      grid-area: recent;
    }
    .buttons {
      grid-area: buttons;
      display: flex;
      justify-content: flex-end;
      gap: 0.5em;
    }
    @media (orientation: portrait) {
      grid-template-areas:
        "title title"
        "due every"
        "buttons buttons";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: unset;
      gap: 0.1em;
      h2 {
        text-align: center;
      }
      & > * {
        justify-self: center;
      }
      .recently-complete {
        display: none;
      }
      .buttons {
        justify-content: center;
        gap: 0.5em;
      }
    }
  }
}
