:root {
  --foreground-hsl: 250 50% 40%;
  --background-hsl: 100 20% 95%;

  --medium-radius: 4px;
}

body:has(dialog[open]) {
  overflow: hidden;
  height: 1px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-hsl: 100 50% 95%;
    --background-hsl: 250 50% 40%;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html,
body {
  align-items: center;
  background: hsl(var(--background-hsl));
  color: hsl(var(--foreground-hsl));
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100dvh;
  overflow-x: hidden;
  width: 100%;
}

main {
  padding-inline: calc(10vw - 30px);
}

p {
  padding-block: 0.2em;
}

/*
 * MARK: App-header
 */
#app-header {
  align-items: flex-start;
  background: hsl(var(--foreground-hsl));
  color: hsl(var(--background-hsl));
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
  align-items: center;

  .links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    max-width: 30em;
  }
}

#new-cadence-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*
 * MARK: EditModal
 */
#edit-modal {
  min-height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .flex {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.2em;
    @media (orientation: portrait) {
      flex-wrap: wrap;
    }
  }
  .title-input {
    color: hsl(var(--foreground-hsl));
    flex-grow: 1;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.5em 1em;
  }
  .cadence-input {
    flex-basis: 0;
    font-size: 1.1em;
    padding: 0.5em 1em;
  }

  #final-buttons {
    display: flex;
    gap: 0.3em;
    justify-content: flex-end;
    @media (orientation: portrait) {
      flex-direction: column;
    }
  }
}

/*
 * MARK: Cards
 */
#cadence-cards {
  & > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  h1 {
    opacity: 0.8;
    text-align: center;
  }
  .no-tasks {
    font-weight: 100;
    font-style: italic;
    opacity: 0.5;
  }
  .card {
    align-items: center;
    background: white;

    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    /* @media (prefers-color-scheme: dark) {
      background: #222;
      box-shadow: 0px 0px 0px 1px hsl(var(--foreground-hsl));
    } */
    border-radius: var(--medium-radius);
    cursor: pointer;
    display: grid;
    gap: 0 2.5em;
    grid-template-areas:
      "title title title . buttons"
      "due every . recent buttons";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr;
    justify-content: space-between;
    padding: 1em;
    transition: all 0.1s ease-out;
    &.isPending {
      background: lightgreen;
    }
    h2 {
      grid-area: title;
    }
    .due {
      grid-area: due;
    }
    .every {
      grid-area: every;
    }
    .recently-complete {
      grid-area: recent;
    }
    .buttons {
      grid-area: buttons;
      display: flex;
      justify-content: flex-end;
      gap: 0.5em;
    }
    @media (orientation: portrait) {
      grid-template-areas:
        "title title"
        "due every"
        "buttons buttons";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: unset;
      gap: 0.1em;
      h2 {
        text-align: center;
      }
      & > * {
        justify-self: center;
      }
      .recently-complete {
        display: none;
      }
      .buttons {
        justify-content: center;
        gap: 0.5em;
      }
    }
  }
}

main#shopping-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
  width: 90vw;
}
