.tweak-page {
  .editor-wrapper {
    display: flex;
    flex-direction: column;
    .top {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 0 0.5em 0;
      overflow: hidden;
      input {
        font-size: 1.1em;
        color: var(--accent-color);
        cursor: pointer;
        width: 15ch;
        transition: width 0.1s linear;
      }
      input:focus-within {
        width: 30ch;
      }
      input:focus-within + div {
        max-width: 0ch;
        overflow: hidden;
      }
      div {
        transition: max-width 0.05s linear;
        max-width: 30ch;
        display: flex;
        flex-direction: row;
        gap: 0.2em;
      }
    }
  }
  .editor {
    display: flex;
    gap: 0em;
    font-size: 1.3rem;

    .column-wrapper {
      --column-initial-width: 14ch;
      --lineheight: 1.5em;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      border: none;
      textarea {
        --c: rgb(233, 232, 170);
        background: repeating-linear-gradient(
          180deg,
          var(--c),
          var(--c) calc(var(--lineheight) - 1px),
          currentColor var(--lineheight)
        );
        border: 1px dotted var(--primary-color-lighter);
        height: 15.3lh;
        line-height: var(--lineheight);
        outline: none;
        overflow: clip hidden;
        padding: 0;
        resize: none;
        width: var(--column-initial-width);
        transition: width 0.2s, transform 0.5s;
        &[draggable="true"] {
          transform: translateY(-2em) !important;
        }
        &:focus-within {
          box-shadow: var(--card-shadow);
          transform: translateY(-1px);
          opacity: 1;
        }
        opacity: 0.9;
      }

      &.isWide:focus-within {
        textarea {
          width: 25ch;
        }
      }
      &.isEmpty {
        textarea {
          opacity: 0.5;
        }
        .delete-column-overlay {
          display: flex;
        }
        .add-column-overlay {
          display: none;
        }
      }
      textarea[draggable="true"] + .overlay {
        transform: translateY(-2em);
      }
      .overlay {
        display: flex;
        height: 100%;
        flex-direction: column;
        left: 0;
        padding-top: 2px;
        pointer-events: none;
        position: absolute;
        top: 0;
        user-select: none;
        width: 100%;
        overflow: clip;
        transition: transform 0.5s;
        .line {
          height: var(--lineheight);
          min-height: var(--lineheight);
          max-height: var(--lineheight);
          overflow: clip;
          color: hsl(130, 40%, 30%, 0.8);
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-inline-end: 0.4em;
          &.offset-1 {
            padding-inline-start: calc(1 * 2ch + 1ch);
          }
          &.offset-2 {
            padding-inline-start: calc(2 * 2ch + 1ch);
          }
          &.offset-3 {
            padding-inline-start: calc(3 * 2ch + 1ch);
          }
          &.offset-4 {
            padding-inline-start: calc(4 * 2ch + 1ch);
          }
          &.offset-5 {
            padding-inline-start: calc(5 * 2ch + 1ch);
          }
          & > .pinyin {
            color: #666;
            font-size: 0.6em;
            white-space: nowrap;
          }
          & > .rarity {
            font-size: 0.4em;
            display: flex;
            gap: 1ch;
          }
        }
      }
      .suggestions {
        display: flex;
        flex-direction: column;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(0, 100%);
        width: var(--column-initial-width);
        p {
          font-size: 0.7em;
          padding-top: 1em;
        }
        & > div {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          gap: 1ch;
          font-size: 0.8em;
          height: fit-content;
        }
      }

      .delete-column-overlay {
        display: none; /* display when column is empty */
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 30%;
        transform: translate(0, 200%);
        left: 0;
        position: absolute;
        top: 0;
        width: 14ch;
        button {
          width: 100%;
        }
      }
      .add-column-overlay {
        transform: translate(50%);
        bottom: 0;
        right: 0;
        z-index: 2;
        position: absolute;
        button {
          width: 100%;
        }
      }
    }
  }

  button {
    font-size: 1rem;
    margin: 0;
    padding: 0 1.5ch;
    width: fit-content;
    border-radius: 3em;
    border: 2px white solid;
    border-color: white;
    background: #ddd;
    color: var(--primary-color);
    transition: border-color 100ms linear;
    outline: none;
    &:hover:not(:disabled) {
      border-color: grey;
    }
    &:focus,
    &:active {
      border-color: var(--accent-color);
    }
    &:disabled {
      background: #bbb;
      border-color: #999;
      opacity: 0.8;
      cursor: not-allowed;
    }
    &[data-highlight="true"] {
      background: var(--accent-color);
      border-color: white;
      color: white;
    }
  }
}
